<div
  [mnFullpage]="options"
  [mnFullpageNavigation]="true"
  [mnFullpageKeyboardScrolling]="true"
  [mnFullpageSlidesNavigation]="true"
  [mnFullpageScrollOverflow]="true"
  mnFullpageSlidesNavPosition="bottom"
>

  <div class="section fp-section fp-table" id="section0"><h1>fullPage.js</h1></div>
	<div class="section fp-section fp-table" id="section1"><h1>No wraps, no extra markup</h1></div>
	<div class="section fp-section fp-table" id="section2"><h1>Just the simplest demo ever</h1></div>
	<div class="section fp-section fp-table">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="card" style="width: 20rem;">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1>hola mundo</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<img class="card-img-top" src="..." alt="Card image cap">
						<div class="card-block">
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h1>hola hola</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h1 class="display-3">Hello, world!</h1>
						<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<hr class="my-4">
						<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
						<p class="lead">
							<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>


